<?xml version="1.0" encoding="UTF-8"?>
<!--
    debug:当此属性设置为true时，将打印出logback内部日志信息，实时查看logback运行状态。默认值为false。 
    scan:当此属性设置为true时，配置文件如果发生改变，将会被重新加载，默认值为true
    scanPeriod:设置监测配置文件是否有修改的时间间隔，如果没有给出时间单位默认单位是毫秒，当scan为true时此属性生效，默认时间间隔为1分钟
    日志级别从低到高分为TRACE < DEBUG < INFO < WARN < ERROR < FATAL，如果设置为WARN，则低于WARN的信息都不会输出
    -->
<configuration debug="false" scan="true" scanPeriod="30 seconds" packagingData="true">
    <!-- 彩色日志 -->
    <!-- 彩色日志依赖的渲染类 -->
    <conversionRule conversionWord="clr" converterClass="org.springframework.boot.logging.logback.ColorConverter"/>
    <conversionRule conversionWord="wex"
                    converterClass="org.springframework.boot.logging.logback.WhitespaceThrowableProxyConverter"/>
    <conversionRule conversionWord="wEx"
                    converterClass="org.springframework.boot.logging.logback.ExtendedWhitespaceThrowableProxyConverter"/>
    <!-- 彩色日志格式 -->
    <property name="CONSOLE_LOG_PATTERN"
              value="%clr(%d{yyyy-MM-dd HH:mm:ss.SSS}){faint} %clr(%level){blue} %clr(${PID}){magenta} %clr([%X{traceId}]){yellow} %clr([%thread]){orange} %clr(%-40.40logger{39}){cyan} %clr(:){faint} %m%n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}"/>
    <property name="GRPC_LOG_PATTERN"
              value="%d{yyyy-MM-dd HH:mm:ss.SSS} %level ${PID} [%tid] [%traceId] [%thread] %-5level %logger{36} -%msg%n"/>
    <!-- 控制台日志 -->
    <appender name="CONSOLE_LOG" class="ch.qos.logback.core.ConsoleAppender">
        <withJansi>true</withJansi>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>debug</level>
        </filter>
        <encoder>
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>
    <!-- Skywalking grpc -->
    <appender name="GRPC_LOG" class="org.apache.skywalking.apm.toolkit.log.logback.v1.x.log.GRPCLogClientAppender">
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <layout class="com.framework.cloud.logging.trace.UUIDMDCPatternLogbackLayout">
                <pattern>${GRPC_LOG_PATTERN}</pattern>
            </layout>
        </encoder>
    </appender>

    <logger name="com.framework.cloud" level="DEBUG" additivity="false">
        <appender-ref ref="CONSOLE_LOG"/>
        <appender-ref ref="GRPC_LOG"/>
    </logger>

    <logger name="org.quartz" level="warn" additivity="false">
        <appender-ref ref="CONSOLE_LOG"/>
        <appender-ref ref="GRPC_LOG"/>
    </logger>

    <logger name="com.atomikos.icatch.provider.imp.AssemblerImp" level="ERROR" additivity="false">
        <appender-ref ref="CONSOLE_LOG"/>
        <appender-ref ref="GRPC_LOG"/>
    </logger>

    <root level="INFO">
        <appender-ref ref="CONSOLE_LOG"/>
        <appender-ref ref="GRPC_LOG"/>
    </root>
</configuration>
